body{font-family: 'Roboto', sans-serif;}
.bg-dark { color: #ffffff !important; background-color: #1b1d1f !important; }

.navbar{background-color: #191919;}
.navbar-brand{color: #00bcd4;}
.container-fluid,.row,.col-md-6{
  height: 85vh;
}

.navbar-nav .nav-item button {
  color: #b9b9b9 !important;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: background-color .3s;
}

.navbar-nav .nav-item button:hover,.navbar-nav .nav-item button:active  { 
  color: #fcfcfc !important; background-color: #17181a; }
  
.separator {
    width: 0;
    border-left: 2px solid #423d3d;
    color: transparent;
    margin: 0 0 0 4px;
    line-height: 2;
}

.flex-center { height: 100%; display: flex;}

#editor,#content{ 
  color: #ffffff;
  width: 100%; 
  height: 100%; 
  padding: 10px 20px; 
  border: 2px dotted #5e656b; 
  outline: none;
  overflow: auto;
}

.resize-bar {width: 10px; background-color: #adadad; cursor: col-resize; }

#content{border-left: 0;}
#editor {resize: none; border-right: 0;}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

table {
  width: 100%;
  border: 2px solid #afafaf;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 8px;
}

td, th {
  padding: 8px 16px;
  border-top: 2px solid #afafaf;
  border-left: 2px solid #afafaf;
  text-align: left;
}

pre { color: #E91E63 !important; }

footer {
  width: 100%;
  height: 100%;
  background-color: #191919;
    padding: 10px 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

footer > div {
  color: #cecece;
    text-transform: uppercase;
}

hr{border-top: 1px solid #5e656b;}
.disply{display: block !important;}
blockquote{border-left: 2px solid #adadad; padding-left: 10px; color: #adadad !important;}
/* window && textarea scroll style */
textarea::-webkit-scrollbar {width: 7px;}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(37, 37, 37, 0.3);
  box-shadow: inset 0 0 6px rgba(37, 37, 37, 0.3);
}

::-webkit-scrollbar-thumb {
background-color: rgb(68, 68, 68);
outline: 1px solid rgb(67, 70, 73);
}

::-webkit-scrollbar {width: 7px;}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(37, 37, 37, 0.3);
  box-shadow: inset 0 0 6px rgba(37, 37, 37, 0.3);
}

::-webkit-scrollbar-thumb {
background-color: rgb(68, 68, 68);
outline: 1px solid rgb(67, 70, 73);
}